 @charset "UTF-8";

/* #a{
	float : left;
}

 #console{
	margin-left : 650px;
}

#result{
	margin-left : 650px;
} 

#total-btn {
	float : left;
	margin-left : 50px;
} */

/* 
img{
	width : 13px; 
	height : 13px;
}

*/
#calendar{
	width : 600px;
	font-size : 0.7em;
	border-spacing : 0px 0px;
	border : 1px solid pink;
	border-collapse: collapse;
	margin-right : 30px;
}

#calendar td{
	border : 1px solie pink; 
}

/* #product {
	clear : both;
}

#presult {
	float : left;
	margin-left : 50px;
	margin-top : 30px;
} */

/*
#dbtable td{
	text-align : center;
	width : 70px;
}

#dbtable{
	font-size : 0.7em;
	font-align : center;
	border-spacing : 0px 0px;
	border-collapse: collapse;
}

td{
	font-align : center;
}

.p {
	color : blue;
}

.notp{
	color : red;
}
 */
img{
	width : 13px; 
	height : 13px;
}
